<mat-card>
  <mat-card-title>
    Mot de passe oublié
  </mat-card-title>

  <form [formGroup]="passwordResetFrom" class="flex-column" (submit)="doSendResetPasswordLink()">
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Votre addresse email">
      <mat-error *ngIf="email.invalid && email.touched">
          Votre email est incorrect
      </mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="passwordResetFrom.invalid" mat-raised-button>Envoyer le lien</button>
  </form>
  <hr>
  <a [routerLink]="['/register']">Je n'ai pas encore de compte</a>   
  <a [routerLink]="['/login']">Se connecter</a>


  <mat-card-actions>
    <button mat-raised-button (click)="auth.googleLogin()">Login with google</button>
  </mat-card-actions>
</mat-card>