<mat-card *ngIf="project">
  <mat-card-title>
    {{project.name}}
  </mat-card-title>
  <mat-card-content>
    <p>{{project.description}}</p>
    <mat-divider></mat-divider>

    <h2>Mes abonnés</h2>
    <table id="abonnes">
        <tr>
          <th>Abonnés à la campagne</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let sub of project.subscribers">
          <td>{{sub.displayName}}</td>
          <td>{{sub.email}}</td>
        </tr>
      </table>


    <h2>Mes bouttons</h2>
    <ng-container *ngFor="let subMethod of project.availableSubscribeMethods">
      <div mat-raised-button *ngIf="subMethod.active">
        <mat-form-field>
          
          <textarea matInput disabled="disabled" rows="20" cols="200" [id]="'text-' + project.id + '-' + subMethod.methodName">
          <a style='display: inline-block;
          max-width: 200px;
          margin: 0;
          padding: 0.75rem 1rem;
          border: 0;
          border-radius: 0.317rem;
          background-color: #3f51b5;
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.5;
          font-family: "Helvetica Neue", Arial, sans-serif;
          cursor: pointer;
          -webkit-appearance: none;
          -webkit-font-smoothing: antialiased;' href="{{windowOrigin+'/projects/'+project.id + '/subscribe/' + subMethod.methodName.toLowerCase()}}">S'inscrire avec {{subMethod.label}}</a>
        </textarea>

        </mat-form-field>
        <a style='display: block;
        pointer-events: none;
        max-width: 200px;
        text-align: center;
        margin: 0;
        padding: 0.75rem 1rem;
        border: 0;
        border-radius: 0.317rem;
        background-color: #3f51b5;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        font-family: "Helvetica Neue", Arial, sans-serif;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;'
          href="{{windowOrigin+'/projects/'+project.id + '/subscribe/' + subMethod.methodName.toLowerCase()}}">S'inscrire
          avec {{subMethod.label}}</a>
          <button mat-raised-button (click)="copyToClipboard('text-' + project.id + '-' + subMethod.methodName)">
              Copier l'HTML du boutton
            </button>
      </div>
      <mat-divider></mat-divider>
    </ng-container>

    <h2>Le QR Code de la campagne</h2>
    <button mat-raised-button color="" [routerLink]="['/projects/'+ project.id +'/qrcode']">
      Voir mon QR code
    </button>
    {{project.members}}
    
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/projects/'+ project.id +'/edit']">
        <mat-icon matListIcon>edit</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="projectService.openConfirm(project.id)">
        <mat-icon matListIcon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
