<mat-card *ngIf="project">
    <mat-card-title >
        {{project.name}}
    </mat-card-title>
    <mat-card-content>
    <p>{{project.description}}</p>

    <mat-divider></mat-divider>

    <mat-list>
      <h2>Membre du projet</h2>
      <mat-list-item *ngFor="let member of project.members">
        <img mat-list-avatar [src]="member.photoURL" [alt]="member.photoURL">
        <h3 matLine> {{member.displayName}} </h3>
        <p matLine> {{member.email}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

</mat-card-content>
    
  </mat-card>
  
  
  