<mat-card *ngIf="project">
  <mat-card-title >
    Editer {{project.name}}
  </mat-card-title>

  <form *ngIf="projectForm" [formGroup]="projectForm" class="flex-column" (submit)="editProject()">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Le nom de votre projet">
      <mat-error *ngIf="name.invalid && name.touched">
        Le titre est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="La descritpion de votre projet"></textarea>
      <mat-error *ngIf="description.invalid && description.touched">
        La description est requise
      </mat-error>
    </mat-form-field>
    <label formArrayName="availableSubscribeMethods" *ngFor="let subMethod of projectForm.controls.availableSubscribeMethods.controls; let i = index">
      <mat-slide-toggle [formControlName]="i" >
        {{subMethods[i].label}}
        <!-- <mat-icon matListIcon>{{subMethods[i].iconName}}</mat-icon> -->
      </mat-slide-toggle>
    </label>




    <button type="submit" [disabled]="projectForm.invalid" mat-raised-button>Mettre a jour</button>
  </form>
  <table id="customers">
    <tr>
      <th>Membre du projet</th>
      <th>Email</th>
      <th id="actions">Actions</th>
    </tr>
    <tr *ngFor="let member of project.members">
      <td>{{member.displayName}}</td>
      <td>{{member.email}}</td>
      <td>
        <button *ngIf="member.uid != project.creator" mat-raised-button color="accent" >
          <mat-icon matListIcon (click)="deleteMemberProject(member.email)">delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <form (ngSubmit)="addMemberProject(f)" #f="ngForm">
    <mat-form-field>
      <input name="email"  ngModel required  [email]="true" matInput placeholder="Email de l'utilisateur">
      <button type="submit" [disabled]="f.invalid" mat-raised-button>Ajouter un membre</button>

    </mat-form-field>

  </form>
</mat-card>
