<mat-card *ngIf="project && !thanks">
  <mat-card-title>
    {{project.name}}
  </mat-card-title>
  <mat-card-content>
    <p>{{project.description}}</p>

    <mat-divider></mat-divider>
    <h2>S'inscire avec : </h2>
    <ng-container *ngFor="let subMethod of project.availableSubscribeMethods">
      <button mat-raised-button *ngIf="subMethod.active" mat-raised-button [routerLink]="['/projects/'+project.id + '/subscribe/' + subMethod.methodName.toLowerCase()]">
        {{subMethod.label}}
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="project && thanks">
  <mat-card-title>
    Merci de votre interet pour notre projet "{{project.name}}"
  </mat-card-title>
  <mat-card-content>
    <p>On vous recontacte très bientôt pour la suite des opérations!</p>
  </mat-card-content>
</mat-card>
