<mat-card *ngIf="project && !thanks">
  <mat-card-title>
    {{project.name}}
  </mat-card-title>
  <mat-card-content>
    <p>{{project.description}}</p>

    <mat-divider></mat-divider>
    <h2>S'inscire avec : </h2>
    <ng-container *ngFor="let subMethod of project.availableSubscribeMethods">
      <button mat-raised-button *ngIf="subMethod.active" mat-raised-button [routerLink]="['/projects/'+project.id + '/subscribe/' + subMethod.methodName.toLowerCase()]">
        {{subMethod.label}}
      </button>
    </ng-container>
    <mat-divider></mat-divider>
    <h2>S'inscire manuellement : </h2>

    <form [formGroup]="subForm" class="flex-column" (submit)="manualSub()">
      <mat-form-field>
        <input formControlName="displayName" matInput placeholder="Votre nom" type="text">
        <mat-error *ngIf="displayName.invalid && displayName.touched">
          On a besoin de votre nom!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="Votre addresse email">
        <mat-error *ngIf="email.invalid && email.touched">
          Votre email est incorrect
        </mat-error>
      </mat-form-field>

      <button type="submit" [disabled]="subForm.invalid" mat-raised-button>Je m'inscire</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="project && thanks">
  <mat-card-title>
    Merci de votre interet pour notre campagne "{{project.name}}"
  </mat-card-title>
  <mat-card-content>
    <p>On vous recontacte très bientôt pour la suite des opérations!</p>
  </mat-card-content>
</mat-card>
