<mat-card>
  <mat-card-title>
    Inscription
  </mat-card-title>
  <form [formGroup]="registerForm" class="flex-column" (submit)="doRegister()">
    <mat-form-field>
      <input formControlName="surname" matInput required placeholder="Votre prénom">
      <mat-error *ngIf="surname.invalid && surname.touched">
        Votre email est incorrect
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="name" matInput required placeholder="Votre nom">
      <mat-error *ngIf="name.invalid && name.touched">
        Votre email est incorrect
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="email" matInput required placeholder="Votre addresse email">
      <mat-error *ngIf="email.invalid && email.touched">
        Votre email est incorrect
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="password" matInput required placeholder="Votre mot de passe" type="password">
      <mat-hint align="end">
        Votre mot de passe contient au moins une lettre en un chiffre
      </mat-hint>
      <mat-error *ngIf="password.invalid && password.touched">
        Votre mot de passe est incorrect
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="password_conf" matInput required placeholder="Confirmez votre mot de passe"
             type="password">
      <mat-error *ngIf="password_conf?.invalid && password.touched">
        Les mots de passe doivent être indentiques
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="rgpd_check" id="rgpd_check">
      J'ai lu et acceptés les CGUs
    </mat-checkbox>

    <button type="submit" [disabled]="registerForm.invalid" mat-raised-button>Connexion</button>
  </form>
  <mat-grid-list cols="3" rowHeight="4em">
    <mat-grid-tile colspan="1">
      <mat-card-actions>
        <button mat-raised-button (click)="auth.googleLogin()">Login with google</button>
      </mat-card-actions>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card-actions>
        <a [routerLink]="['/login']">J'ai déjà un compte</a>
      </mat-card-actions>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card-actions>
        <a [routerLink]="['/forgotten-password']">J'ai oublié mon mon de passe</a>
      </mat-card-actions>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
